    <!-- Footer -->
    <footer class="bg-danger text-white text-center py-4 w-100">
        <div class="container">
            <p>&copy; {{ year }} Integrated Innovation and Hospitality Colleges. All rights reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'privacy' %}" class="text-white">Privacy Policy</a></li>
                <li class="list-inline-item"><a href="{% url 'terms' %}" class="text-white">Terms of Service</a></li>
            </ul>
            <ul class="list-inline">
                <a target="_blank" href="https://www.facebook.com/IIHCLaFortezaOfficialPage/" class="text-white mx-2 display-6"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="{% url 'soon' %}" class="text-white mx-2 display-6"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="{% url 'soon' %}" class="text-white mx-2 display-6"><i class="fab fa-instagram"></i></a>

                <!-- <a hidden href="#" class="text-white mx-2 display-6"><i class="fab fa-linkedin-in"></i></a>     -->
            </ul>
        </div>
    </div>
    </footer>